@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;

div.cds--dropdown.cds--list-box {
  .cds--list-box__menu {
    background-color: $layer-02;

    div.cds--list-box__menu-item.cds--list-box__menu-item--highlighted {
      background-color: $layer-accent-01;
    }
  }
}

.cds--fieldset {
  max-width: 100%;
  min-width: 100%;
  padding-bottom: $spacing-03;
  width: 100%;
}

.cds--text-area__wrapper {
  width: 100%;
}
